<div data-role="view" data-title="Other Buildings" data-layout="main">

    <!-- START_CUSTOM_CODE_allBuildingsView -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <header data-role="header">
        <div data-role="navbar" class="header-text">
           <a data-role="backbutton" data-align="left"><i class="fa fa-chevron-left"></i></a> <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left"><i class="fa fa-bars" aria-hidden="true" style="color: white;"></i></a>
            <span data-role="view-title"></span>


        </div>
    </header>

    <ul data-role="listview" data-style="inset" class="allBuildingsList">

        <li>
            <a href="components/schoolPages/aqc/view.html">Aquatic Center</a>
        </li>
        <li>
            <a href="components/schoolPages/bass/view.html">Before And After School SVCS</a>
        </li>
        <li>
            <a href="components/schoolPages/gbecc/view.html">Great Beginnings Early Education Center</a>
        </li>
        <li>
            <a href="components/schoolPages/gbpat/view.html">Parents As Teachers At Great Beginnings</a>
        </li>
        <li>
            <a href="components/schoolPages/mp/view.html">Miller Park</a>
        </li>
        <li>
            <a href="components/schoolPages/slc/view.html">Stansberry Leadership Center</a>
        </li>
    </ul>
    <!-- END_CUSTOM_CODE_allBuildingsView -->
</div>
