<div data-role="view" data-title="Elementary Schools" data-layout="main">

    <!-- START_CUSTOM_CODE_allBuildingsView -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <header data-role="header">
        <div data-role="navbar" class="header-text">
           <a data-role="backbutton" data-align="left"><i class="fa fa-chevron-left"></i></a> <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left"><i class="fa fa-bars" aria-hidden="true" style="color: white;"></i></a>
            <span data-role="view-title"></span>


        </div>
    </header>

    <ul data-role="listview" data-style="inset" class="allBuildingsList">

        <li>
            <a href="components/schoolPages/cce/view.html">Cedar Creek Elementary School</a>
        </li>
        <li>
            <a href="components/schoolPages/gwe/view.html">Greenwood Elementary School</a>
        </li>
        <li>
            <a href="components/schoolPages/hhe/view.html">Hawthorn Hill Elementary School</a>
        </li>
        <li>
            <a href="components/schoolPages/hge/view.html">Hazel Grove Elementary School</a>
        </li>
        <li>
            <a href="components/schoolPages/hpe/view.html">Highland Park Elementary School</a>
        </li>
        <li>
            <a href="components/schoolPages/lse/view.html">Lee’s Summit Elementary School</a>
        </li>
        <li>
            <a href="components/schoolPages/lfe/view.html">Longview Farm Elementary School</a>
        </li>
        <li>
            <a href="components/schoolPages/mae/view.html">Mason Elementary School</a>
        </li>
        <li>
            <a href="components/schoolPages/mle/view.html">Meadow Lane Elementary School</a>
        </li>
        <li>
            <a href="components/schoolPages/ple/view.html">Pleasant Lea Elementary School</a>
        </li>
        <li>
            <a href="components/schoolPages/pve/view.html">Prairie View Elementary School</a>
        </li>
        <li>
            <a href="components/schoolPages/rhe/view.html">Richardson Elementary School</a>
        </li>
        <li>
            <a href="components/schoolPages/spe/view.html">Summit Pointe Elementary School</a>
        </li>
        <li>
            <a href="components/schoolPages/sve/view.html">Sunset Valley Elementary School</a>
        </li>
        <li>
            <a href="components/schoolPages/tre/view.html">Trailridge Elementary School</a>
        </li>
        <li>
            <a href="components/schoolPages/uwe/view.html">Underwood Elementary School</a>
        </li>
        <li>
            <a href="components/schoolPages/wve/view.html">Westview Elementary School</a>
        </li>
        <li>
            <a href="components/schoolPages/wle/view.html">Woodland Elementary School</a>
        </li>
    </ul>
    <!-- END_CUSTOM_CODE_allBuildingsView -->
</div>
